Django>=4.0.0
djangorestframework>=3.14.0
psycopg2>=2.9.3
gunicorn>=21.0.0  # For running the app in production
Pillow>=9.0.0  # For image handling
django-environ>=0.9.0  # For environment variables
whitenoise>=6.0.0  # For serving static files


